<nav class="ui olive inverted menu">
  <header class="header item"> <a href="/"> Welcome </a> </header>
  <div class="right menu">
    <a class="item" href="/admin">Admin</a>
    <a class="item" href="/charts">Charts & Stats</a>
    <a class="item" href="/logout"> Logout</a>
  </div>
</nav>