<nav class="ui blue inverted menu">
  <header class="header item"> <a href="/"> Welcome </a> </header>
  <div class="right menu">
    <a class="item" href="/tweeter">Tweet</a>
    <a class="item" href="/tweetlist">List of Tweets</a>
    <a class="item" href="/editprofile"> Edit Profile</a>
  </div>
</nav>
