._56jk{display:block;padding:3px}._56jk ._30e7 ._5j5f{margin-right:3px;padding:0 0 4px 0;width:80%}._56jk ._5j5l{display:none}
._30e7 ._5j5f{border:1px solid rgba(0, 0, 0, .10);cursor:text;float:left;padding:10px 8px 6px;vertical-align:middle;width:90%}._30e7 ._5j5l{float:right}

#bootloader_hdpRJ{height:42px;}.bootloader_hdpRJ{display:block!important;}