<!DOCTYPE html>
<html>
{{> adminmenu }}
<body>
<section class="ui raised segment">
  <div class="ui grid">
    <div class="ui three wide column">
      <h2 class="ui header">Welcome Admin</h2>
      <p>Want to delete a User?</p>
      <div class="ui inverted divider"></div>
      <form class="ui fluid form users">
        <div id="userDD" class="ui fluid selection dropdown">
          <input name="userId" type="hidden">
          <div class="text">List of Users</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each users}}
              <div class="item user" data-value={{_id}}>{{email}}</div>
            {{/each}}
          </div>
        </div>
        <div class="ui divider"></div>
        <button class="ui fluid red submit button">Delete user</button>
      </form>
      <div class="ui inverted divider"></div>
      </form>
      <form action="/adminsignup" method="GET">
        <button class="ui fluid violet submit button">Create user</button>
      </form>
    </div>
    <div class="ui thirteen wide column">
      {{>tweetlist}}
    </div>
  </div>
  <script src="javascript/AdminTimeline.js" type="text/javascript" charset="utf-8"></script>
  <script src="javascript/AdminAjax.js" type="text/javascript" charset="utf-8"></script>
</section>
</body>
</html>