<!DOCTYPE html>
<html>
{{> adminmenu }}
<body>
<section class="ui raised segment">
  <div class="ui grid">
    <div class="ui five wide column">
      <div class="ui divider"></div>
      <h2 class="ui header">Welcome Admin</h2>
      <div class="ui divider"></div>
    </div>
    <div class="ui five wide column">
      <form class="ui fluid form users">
        <div id="userDD" class="ui fluid selection dropdown">
          <input name="userId" type="hidden">
          <div class="text">List of Users</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each users}}
              <div class="item user" data-value={{_id}}>{{email}}</div>
            {{/each}}
          </div>
        </div>
        <div class="ui divider"></div>
        <button class="ui fluid red submit button">Delete user</button>
        <div class="ui error message"></div>
      </form>
    </div>
    </form>
    <div class="ui five wide column">
      <div class="ui divider"></div>
      <form action="/adminsignup" method="GET">
        <button class="ui fluid violet button">Create new user</button>
      </form>
      <div class="ui divider"></div>
    </div>
  </div>
</section>
<div class="ui grid">
  <div class="ui centered twelve wide column">
    {{>tweetlist}}
  </div>
</div>
<script src="javascript/adminAjax.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>