{{> authmenu }}
<section class="ui container">
  <section class="ui segment">
    <div class="ui centered card">
      <div class="image">
        <img src="/getPicture">
      </div>
      <div class="content">
        <a class="header">{{tweeterer.firstName}} {{tweeterer.lastName}}</a>
      </div>
    </div>
    <div class="ui grid">
      <div class="ui six wide column">
        <div class="ui divider"></div>
        <h2>Here's where you tweet...</h2>
      <form class="ui form" action="/tweet" method="POST">
        <div class="ui heading">
          <input disabled value="140" id="counter">
        </div>
        <div class="field">
          <textarea id="message" placeholder="Insert Tweet here" name="content" maxlength="140" onkeydown="textCounter(this, 'counter', 140);"></textarea>
        </div>
        <button type="submit" class="ui violet submit button">Post</button>
        <div class="ui error message"></div>
      </form>
        {{>formerror}}
        <div class="ui divider"></div>
      </div>
    <div class="ui ten wide column">
        <h2>Here's your tweets</h2>
        {{>tweetlist}}
    </div>
      <script>
        function textCounter(field, count, max) {
          var count = document.getElementById(count);
          if (field.value.length > max) {
            field.value = field.value.substring(0, max);
          } else {
            count.value = max - field.value.length;
          }
        }
        </script>
    </div>
  </section>
</section>
</body>
</html>