{{> authmenu }}
<section class="ui container">
  <section class="ui segment">
   <h2>Here's where you tweet...</h2>
    <div class="ten wide column">
      <form class="ui form segment" action="/tweet" method="POST">
        <div class="ui heading">
          <h2>Go for it, {{tweeterer.firstName}}</h2>
        </div>
        <div class="field">
          <textarea placeholder="Insert Tweet here" name="content" maxlength="140"></textarea>
        </div>
        <button type="submit" class="ui olive submit button">Post</button>
        <div class="ui error message"></div>
      </form>
    </div>
  </section>
</section>
</body>
</html>