<!DOCTYPE html>
<html>
{{> welcomemenu }}
<body>
<section class="ui raised segment">
  <div class="ui two column grid">
    <div class="ui column">
      <h1>Welcome to MyTweet</h1>
      <p>Where people who think their drivel is important, Enjoy</p>
    </div>
    <div class="ui column">
      <img src="/images/tweet-tweet2.jpg">
    </div>

</section>